body
  background #666
  margin 1em

#ad_buttons
  display flex
  background #333
  justify-content space-between
  width 100%

#ad_init
  background red
  // width 300px

#ad_show
  background blue
  // min-width 600px
