body
  background #666
  margin 1em


table.show
  table-layout fixed
  width 85%
  border 1px solid black
  border-collapse collapse
  margin 0 auto

  td, th
    border 1px solid black
    padding 0.5em

  tr:nth-child(odd)
    background #777

  thead th
    background #444

input[type='submit']
  width 100px
  display inline-block

#ad_buttons
  display flex
  background #333
  justify-content space-between
  width 100%
  margin-bottom 2em

#ad_init
  background red

#ad_show
  background blue

.mapRef
  overflow hidden
  text-overflow ellipsis

.but
  // width 10%
