body
  margin 1em
  background #666


// admin_buttons.php
#adBtnsDiv
  width 100%
  display flex
  background #333
  margin-bottom 2em
  justify-content space-between

#showBtnsDiv
  background blue

#initBtnDiv
  background red


// tables_view
table.show
  width 85%
  margin 0 auto
  table-layout fixed
  border 1px solid black
  border-collapse collapse

  td, th
    padding 0.5em
    border 1px solid black

  tr:nth-child(odd)
    background #777

  th
    background #444

  .input th
    padding 0
    // padding 0.5em 0 0.5em 0

  th input[type='text']
    padding 0
    width 100%
    box-sizing border-box

  input[type='submit']
    width 100px
    display inline-block


// specificities
.mapRef
  overflow hidden
  text-overflow ellipsis
