// main admin page
// lots going on here, inc AJAX

<?php require_once('../php/functions.php'); checkIfSession(); ?>

html
  head
    script(src='../js/functions.js')
    link(rel='stylesheet', href='../css/main.min.css')

  body
    p <?= $_SESSION['name']; ?> logged in

    #adUi
      // show buttons for view/list studios and workshops
      script const wipeWarning = 'this will wipe the database - you sure you wanna do this?'
      button(onclick="loadDoc('../php/init_db.php', 'adDataDiv', wipeWarning)") init database
      button(onclick="loadDoc('../php/show_studios.php','adDataDiv')") show studios
      button add studio

    #adDataDiv
      p data will go here

    #adMessages
      p messagios



